<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="someLocale" class="java.util.Locale" factory-method="getDeafult"/>
    <bean id="someUser" class="nameSpaces.User.java">
        <constructor-arg value="Joanna"/>
        <constructor-arg value="22"/>
        <constructor-arg ref="someLocale"/>

    </bean>


    <bean id="someBean" class="nameSpaces.SomeBean">
        <property name="stringValue" value="some string value"/>
        <property name="intValue" value="100"/>


    </bean>

</beans>